/* slider ================================== */

.header_content_slider {
	max-width: 1580px;
	padding-top: 120px;
	padding-left: 60px;
	padding-right: 60px;
	margin: 0 auto;
	display: flex;
	margin-bottom: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.header_slider {
	overflow: hidden;
	width: 1500px;
	margin: 0 auto;
	border-radius: 40px;
}

.header_images {
	display: flex;
	transition: all ease 1s;
	filter: blur(2px);
}

.button_slider_conteiner {
	padding-right: 10px;
	display: flex;
	align-items: center;
	opacity: 0.5;
	cursor: pointer;
}

.button_slider_conteiner1 {
	padding-left: 10px;
	display: flex;
	align-items: center;
	opacity: 0.5;
	cursor: pointer;
}