
@import url(/cartNull.css);
@import url(/cart.css);
@import url(/card.css);
@import url(/order.css);
@import url(/payment.css);
body {
	font-family: "Montserrat", sans-serif;
}

:root {
	--color-purple: #8000ff;
	--color-white: #ffffff;
	--color-black: #000;
	--color-purple-dark: #5900b3;
	--color-white-dark: #cfcfcf;
	--color-grey: #6d6d6d;
}
